<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="lead">Website to make a list which contains all of the clients' infomation in a more proper way.</p> 
  <hr class="my-4">  
</div>
