<div class="jumbotron">
	<h1 class="display-4">Welcome!</h1>
    <p class="lead">This website is designed to make people's lives easier. </p> 
    <p class="lead">If you don't feel easier, then it's you are not fully into it yet.</p>
    <p class="lead">Anyways enjoy. :)</p>
    <hr class="my-4">
</div>


